In [1]:
# Load library
import pandas as pd

In [2]:
# Create data frame
dataframe = pd.DataFrame()

In [3]:
# Create data
dataframe["dates"] = pd.date_range("1/1/2001", periods=5, freq="D")
dataframe["stock_price"] = [1.1,2.2,3.3,4.4,5.5]

In [4]:
# Lagged values by one row
dataframe["previous_days_stock_price"] = dataframe["stock_price"].shift(1)

In [5]:
# Show data frame
dataframe

       dates  stock_price  previous_days_stock_price
0 2001-01-01          1.1                        NaN
1 2001-01-02          2.2                        1.1
2 2001-01-03          3.3                        2.2
3 2001-01-04          4.4                        3.3
4 2001-01-05          5.5                        4.4